//Font
$font: "Red Hat Display", sans-serif;

//Colors
$paleBlue: #e0e8ff;
$brightBlue: #3829e0;
$veryPaleBlue: #f5f7ff;
$desaturatedBlue: #7280a7;
$darkBlue: #1f2f56;

//Font sizes
$title: 2rem;
$paragraph: 1.6rem;
$small: 1.2rem;
